* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  background-color: #dffcfb;
}
body {
  height: 100%;
  font-family: Hack;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 70%;
  background-color: #fff;
  text-align: center;
  /* box-sizing: border-box */
  padding: 20px;
  border-radius: 15px;
}
.content span {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}
.content .username {
  border-bottom: 1px solid #3BA3FD;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.content .username input {
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
}
.content .username input::placeholder {
  padding-left: 5px;
  font-size: 15px;
}
.content .password {
  margin-bottom: 30px;
  border-bottom: 1px solid #3BA3FD;
  width: 80%;
  margin: auto;
}
.content .password input {
  width: 100%;
  height: 25px;
  background: none;
  outline: none;
  border: none;
}
.content .password input::placeholder {
  padding-left: 5px;
  font-size: 15px;
}
.content #error_box {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px;
  color: red;
}
.content button {
  width: 80%;
  height: 30px;
  background-image: linear-gradient(to right, #3BA3FD, #5EDAFD);
  border-radius: 30px;
  outline: none;
  border: none;
  color: #fff;
}
.content button:nth-child(1) {
  margin-bottom: 5px;
  margin-top: 10px;
}
